
<mat-card>    
    <form (submit)="guardarPost(postForm)" #postForm="ngForm">

        <mat-form-field>
            <input placeholder="Ingrese Titulo" matInput type="text" minlength="3" name="titulo" ngModel #titulo="ngModel">
            <mat-error *ngIf="titulo.invalid">Porfavor ingrese un titulo</mat-error>

        </mat-form-field>


        <mat-form-field>
            <textarea rows="6" matInput  name="contenido" ngModel required #contenido="ngModel"></textarea>
            <mat-error *ngIf="contenido.invalid">Porfavor ingrese un Contenido</mat-error>

        </mat-form-field>

        <button mat-raised-button color="prymary" type="submit">Guardar Post</button>


    </form>

</mat-card>


